[Unit]
Description=Connman Start and Monitor Service
After=network.target
ConditionPathExists=/usr/local/bin/connman

[Service]
Type=simple
ExecStart=/usr/local/bin/connman run
ExecStop=/usr/local/bin/connman stop
Restart=on-failure
RestartSec=30
StartLimitIntervalSec=300
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
